

.App {
  text-align: center;
}

.WelcomePage-Hydrosmall {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #09d3ac;
}
:root{
  --gradientYellow:linear-gradient(45deg, rgb(46, 26, 26), rgb(219, 206, 164), rgb(88, 59, 59));

}

html,body {
  font-family:"Oswald", sans-serif !important;
  background: rgb(0, 28, 88)!important;
  color:rgb(231, 215, 69)!important;
  height:100%;
  width:100%;
  overflow-x: hidden;
}

.text-title{
  font-family:"Orbitron",cursive;
  letter-spacing: 0.3rem;
  text-transform:uppercase;
  color:white;
  
}

.title_1{
color:rgb(231, 215, 69);
}

.title_2{
  color:rgb(39, 141, 224);
}

.row_underline{
  border-bottom:1px solid rgb(231, 215, 69);
  color:white;


}
.row_underline2{
  border-bottom:1px solid rgb(231, 215, 69);
  border-top:1px solid rgb(231, 215, 69);
  color:white;
  
}

.col_border{
  padding-top:4px;
  border-right:1px solid rgb(231, 215, 69);
  color:white;
  overflow:hidden;
}

.col_border2{
  padding-top:4px;
  border-right:1px solid rgb(231, 215, 69);
  border-left:1px solid rgb(231, 215, 69);
  color:white;
  overflow:hidden;
}

.col_no_border{
  color:white;
  padding-top:4px;

}

.account_box{
  background: linear-gradient(to left, rgb(1, 1, 5), rgb(0, 28, 88), rgb(1, 1, 5))!important;
  border:2px solid rgb(219, 206, 164);
  border-radius:25px;
  color:rgb(226, 188, 62);
  padding:20px;
  margin-top:1rem;
}

.tab{
  background: linear-gradient(45deg, rgb(0, 28, 88),rgb(6, 38, 105), rgb(45, 63, 224))!important;
  border: 1px solid rgb(241, 241, 238); 
}

.banana{
  color:rgb(226, 188, 62);
}


.contract{
  color:rgb(202, 42, 42);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: rgb(226, 188, 62)!important;
  background: linear-gradient(to left, rgb(1, 1, 5), rgb(0, 28, 88));
  border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: none!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link  {
  color: rgb(245, 248, 255)!important;
  background: linear-gradient(45deg, rgb(0, 28, 88), rgb(45, 63, 224));
  border-color: #dee2e6 #dee2e6 #fff;
  border-left:1px solid white!important;
  border-top:1px solid white!important;
  border-right:1px solid white!important;
  border-top-right-radius: 7px!important;
  border-top-left-radius: 7px!important;
  padding-left:35px!important;
  padding-right:35px!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover  {
  color: rgb(241, 239, 232)!important;
  background: linear-gradient(to left, rgb(1, 1, 5), rgb(0, 28, 88));
  border-color: #dee2e6 #dee2e6 #fff;
  border-left:1px solid white!important;
  border-top:1px solid white!important;
  border-right:1px solid white!important;
  border-top-right-radius: 7px!important;
  border-top-left-radius: 7px!important;
  padding-left:35px!important;
  padding-right:35px!important;
  border-bottom: none!important;
  transform: scale(1.1)!important;
}

a {
  color: #c8d2db!important;
  text-decoration: none;
  background-color: transparent;
}

.searchbar{
  border-radius:10px;
  color:black;
  width:330px;
  height:40px;
  font-size:1.3rem;
  text-align: center;
  border: 2px solid rgb(226, 188, 62);
}

.searchlabel{
  margin-left:100px;
  color:rgb(226, 188, 62);
}

.submit-button{

  border-radius:10px;
  margin-top:12px;
  width:330px;
  height:40px;
  background: linear-gradient(45deg, rgb(0, 28, 88), rgb(45, 63, 224));
  color:rgb(226, 188, 62);


}

.frost{
  font-family:"Orbitron",bold;
  letter-spacing: 0.4rem;
  text-transform:uppercase;
  color:rgb(39, 141, 224);
  position:inline-block;

}

.banana2{
  font-family:"Orbitron",bold;
  letter-spacing: 0.4rem;
  text-transform:uppercase;
  position:inline-block;
  color:rgb(226, 188, 62);
}

.leaf{
  font-family:"Orbitron",bold;
  letter-spacing: 0.4rem;
  text-transform:uppercase;
  position:inline-block;
  color:rgb(252, 246, 246);
}

.time{
  color:rgb(128, 224, 39);
  margin-top:10px;
}

.spinner{
  margin-left:20px;
}

.page-item.active .page-link{
  z-index: 1;
  color: rgb(226, 188, 62)!important;
  background: linear-gradient(to left, rgb(1, 1, 5), rgb(226, 188, 62))!important;
  background: linear-gradient(to left, rgb(1, 1, 5), rgb(0, 28, 88))!important;
  border-color: #007bff;
  border:1px solid rgb(226, 188, 62)!important;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: rgb(230, 224, 224)!important;
  border-radius:5px!important;
  /* background-color: #fff; */
  border: 1px solid rgb(95, 143, 206)!important;
  background: linear-gradient(to left, rgb(1, 1, 5), rgb(0, 28, 88))!important;
  background:rgb(241, 241, 241)
}

.ethereumaccount{
  color:rgb(226, 188, 62);
  margin-top:10px;
}

.navlink2{
  margin-left:9rem;
}

