.modal-content{
    backfground:linear-gradient(220deg, rgb(17, 17, 17),rgb(54, 18, 40),rgb(129, 126, 114));
    background:linear-gradient(45deg, rgb(17, 17, 17),rgb(60, 74, 112));
    bfackground:linear-gradient(45deg, rgb(0, 0, 0),rgb(43, 37, 37),rgb(63, 62, 70), rgb(58, 51, 56), rgb(6, 1, 7));
    background: linear-gradient(to left, rgb(1, 1, 5), rgb(0, 28, 88), rgb(1, 1, 5))!important;
    border-radius: 40px;
    border:1px solid rgb(226, 188, 62);
    height:580px;
    width:1000px;
    overflow:hidden;
    font-family: 'Frank Ruhl Libre', serif; 
  }
  
  
  .modal-header{
    border-bottom:1px solid rgb(219, 206, 164);
    min-height:60px;
    font-family: 'Frank Ruhl Libre', serif;
    background:linear-gradient(45deg, rgb(46, 26, 26),rgb(219, 206, 164),rgb(88, 59, 59))!important;
    overflow:hidden;
    -webkit-text-stroke:0.00001px #3433;
    text-shadow:2px 2px 0 black,
                1px 3px 0 #000,
                1px 2px 0 #000,
                1px 2px 0 #000,
                2px 3px 0 #000;
                
  }
  

  .modal-footer{
    border-top:transparent;
    

    
  }
  .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .h5Modal{
    margin-top:2%;
    
  }


  .faucetbutton{ 
    text-transform:capitalized;
    text-align:center;
    position: relative;
    width:125px;
    height:42px;
    background: linear-gradient(to bottom, rgb(17, 17, 17),rgb(26, 15, 18),rgb(61, 33, 33), rgb(39, 24, 24), rgb(0, 0, 0));
    background: linear-gradient(to left, rgb(1, 1, 5), rgb(0, 28, 88));
    border:0.2rem solid var(--mainDark);
    border-bottom:1px solid  rgb(219, 206, 164);
    border-top:1px solid  rgb(219, 206, 164);
    border-left: 2px solid rgb(219, 206, 164);
    border-right: 2px solid rgb(219, 206, 164);
    font-family: 'Frank Ruhl Libre', serif;
    color:white;
    border-radius:10px;
    padding:1px;
    box-shadow:0 0 1px rgb(238, 193, 47), 0 0 1px rgb(247, 191, 10);
    cursor:pointer;
    float:right ;
    overflow:hidden;
    transition:all 0.2s ease-in-out;
    -webkit-text-stroke:0.00001px #3433;
        text-shadow:2px 2px 0 black,
                    1px 3px 0 #000,
                    1px 2px 0 #000,
                    1px 2px 0 #000,
                    2px 3px 0 #000;
    }
    .faucetbutton:hover{
    
        background: linear-gradient(to left, rgb(1, 1, 5), rgb(22, 63, 150));
        transition:all 0.2s ease-in-out;
        color:white;
    }
    .faucetbutton:focus{
        outline:none;
    
    }

@media(max-width:991px){
.faucetbutton{ 
  float:left;
  margin-left:-3px;
  }
 }
      


  